body {
    margin: 0 0 0 0;
    background-color: black;
}

label {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #aaa;
}

div.controlBar {
    background-color: dimgrey;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: absolute;
    bottom: 0px;
    padding: 6px;
    width: 100%;
    box-sizing: border-box;
}
