label {
    font-family: var(--font-0-family);
    color: var(--text-0-inverted-fg-color);
}

div.controlBar {
    background-color: var(--bg-1-color);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
width: 100%;
}

:root {
    --bg-0-color: rgb(255, 255, 255);
    --bg-0-inverted-color: rgb(255, 255, 255);
    --bg-1-color: rgb(255, 255, 255);
    --bg-2-color: rgb(105, 105, 105);
    --bg-3-color: rgb(165, 165, 165);
    --text-0-fg-color: rgb(255, 255, 255);
    --text-1-fg-color: rgba(250, 240, 240, 0.3);
    --text-0-inverted-fg-color: rgb(80, 0, 31);
    --text-1-inverted-fg-color: rgb(0, 0, 0);
    --text-2-fg-color: rgb(170, 170, 170);
}